<div class="container-fluid">
    <div class="row">
        <div class="col-12 text-center bg-dark">
            <header>
                <h1 class="text-white text-uppercase m-2">{{title}}</h1>
            </header>
        </div>
    </div>

    <div class="row">

        <body class="container-fluid">
            <router-outlet></router-outlet>
        </body>
    </div>

    <div class="row">
        <div class="col-12 bg-light">
            <h3>Footer</h3>
            <a class="fb-ic">
                <i class="fab fa-facebook-f fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
              </a>
        </div>
    </div>
</div>