<div class="container-fluid">
    <div class="row">
        <div class="col-12 text-center bg-dark">
            <header>
                <h1 class="text-white text-uppercase m-2">{{title}}</h1>
            </header>
        </div>
    </div>

    <div class="row">

        <body class="container-fluid">
            <router-outlet></router-outlet>
        </body>
    </div>

    <div class="row">
        <div class="col-sm-12 col-md-12 col-12 col-lg-12 bg-dark text-center">
            <footer>
                <div class="container-fluid">
                    <div class="col-md-12 col-sm-12 py-5">
                        <div class="flex-center">
                            <a target="_blank" href="https://www.facebook.com/MegaGone">
                                <i class="icon fab fa-facebook-f fa-lg mr-md-5 mr-3 fa-2x"> </i>
                            </a>
                            <a target="_blank" href="https://github.com/MegaGone">
                                <i class="icon fab fa-github fa-lg mr-md-5 mr-3 fa-2x"> </i>
                            </a>
                            <a href="https://www.linkedin.com/in/jimmy-javier-542b821a6/" target="_blank">
                                <i class="icon fab fa-linkedin-in fa-lg mr-md-5 mr-3 fa-2x"> </i>
                            </a>
                            <a target="_blank" href="https://www.instagram.com/tokkenjav/">
                                <i class="icon fab fa-instagram fa-lg fa-2x"> </i>
                            </a>
                        </div>
                    </div>

                </div>
                <div class="text-center"><span id="copy">© 2020 Copyright: </span>
                    <a class="text-white" href="https://github.com/MegaGone">DevByJav</a>
                </div>
            </footer>
        </div>
    </div>